{% extends 'blogs/lista_de_blogs.html' %}

{% block title %} About {% endblock %}


    {% block content %}
    <div class="container">
        <div>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR0-2uoUlUUeo5v5wJZlzibzYZzt9MH5agDA&usqp=CAU" alt="">

        </div>
        <br></br>
        <p> HOLA MI NOMBRE ES OLIVER Y TENGO 10 AÑOS </p>
        
    </div>
    <br></br>
    
    <div class="container">
        <img src="https://media-exp1.licdn.com/dms/image/D4D03AQHPJZiwVmYVrw/profile-displayphoto-shrink_200_200/0/1647284843405?e=2147483647&v=beta&t=2iCiSXIiTWEjz4ORrZOfvwRtBW7LW8kyd4OUST92fh0" class="justify-content-center rounded">
        <br></br>
        <p> Mi nombre es Nahuel Farjatt tengo 27 años y soy de La Matanza. Estoy haciendo un proyecto para la entrega final de CoderHouse </p>
    </div>
    {% endblock %}
