{% extends 'blogs/lista_de_blogs.html' %}

{% block title %} Acerca de {% endblock %}


    {% block content %}

    
<div class="container d-flex justify-content-center py-3" > 
    <div class="container d-inline-flex row " style="width: 18rem;">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR0-2uoUlUUeo5v5wJZlzibzYZzt9MH5agDA&usqp=CAU" class="card-img-top">
            <div class="card-body">
            <p class="card-text">Mi nombre es Oliver Barret, tengo 27 años y soy de Rojas Provincia de Bs. As. Con mi compañero Nahuel realizamos este proyecto como entrega final del curso.</p>
            </div>
        </div>
    </div>

    <div class="container d-inline-flex row" style="width: 18rem;">
        <div>
            <img src="https://media-exp1.licdn.com/dms/image/D4D03AQHPJZiwVmYVrw/profile-displayphoto-shrink_200_200/0/1647284843405?e=2147483647&v=beta&t=2iCiSXIiTWEjz4ORrZOfvwRtBW7LW8kyd4OUST92fh0" class="card-img-top">
            <div class="card-body">
            <p class="card-text">Mi nombre es Nahuel Farjatt tengo 27 años y soy de La Matanza. Estoy haciendo un proyecto para la entrega final de CoderHouse.</p>
            </div>
        </div>
    </div>
</div>
    
    

     


    {% endblock %}



    