{% if user.is_authenticated %}
  <a href="{% url 'salir' %}">Salir</a>
  <a href="{% url 'crear_blog' %}">CREAR OTRO Nuevo Blog</a>
{% else %}
  <a href="{% url 'ingresar' %}">Entrar</a>
  <a href="{% url 'crear_cuenta' %}">Crear Cuenta</a>
{% endif %}

{% if object_list %}
    {% for blog in object_list %}
    <li>
        <a href="{% url 'detalle_de_blog' blog.id %}">{{blog.titulo}}</a>
        {% if user.is_authenticated %}
          <a href="{% url 'editar_blog' blog.id %}">Editar</a>
          <a href="{% url 'borrar_blog' blog.id %}">Borrar</a>
        {% endif %} 
    </li>
    {% endfor %}
{% else %}
  <h1> No hay blogs</h1>
{% endif %}