<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Lista de Blogs{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body class="container">

    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <h1 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4">Pagina de Blogs</span>
        </h1>
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="{% url 'lista_de_blogs' %}" class="nav-link">Blogs</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Acerca de</a></li>
        </ul>
      </header>
    </div>

{% block content %}

{% if user.is_authenticated %}
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'crear_blog' %}" class="nav-link text-dark">Nuevo Blog</a></li>
        <li class="nav-item"><a href="{% url 'salir' %}" class="nav-link text-dark">Salir</a></li>
        <li class="nav-item"><a href="{% url 'detalle_perfil' user.id %}" class="nav-link text-dark">Perfil {{user.username}}</a></li>
{% else %}
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'ingresar' %}" class="nav-link text-dark">Ingresar</a></li>
        <li class="nav-item"><a href="{% url 'crear_perfil' %}" class="nav-link text-dark">Crear Cuenta</a></li>
{% endif %}
      </ul>
    </header>
</div>


{% if object_list %}
    {% for blog in object_list %}
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
      </div>
      <h2>{{blog.titulo}}</h2>
      <p class="lead my-3">{{blog.cuerpo}}</p>
      <a href="{% url 'detalle_de_blog' blog.id %}" class="icon-link d-inline-flex align-items-center">Leer mas...</a>
    </div>
    {% if user.is_authenticated %}
      <a href="{% url 'editar_blog' blog.id %}">Editar</a>
      <a href="{% url 'borrar_blog' blog.id %}">Borrar</a>
    {% endif %}
    {% endfor %}
{% else %}
    <h1> No hay blogs</h1>
{% endif %} 


{% endblock %}


<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2022 Proyecto Blogs</p>



    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{% url 'lista_de_blogs' %}" class="nav-link px-2 text-muted">Blogs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acerca de</a></li>
    </ul>
  </footer>
</div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>

</html>