{% extends 'blogs/lista_de_blogs.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}


<div class="card" style="width: 18rem;">
    <img src="{{ object.avatar_set.first.image.url }}" class="card-img-top">
    <div class="card-body">
      <p class="card-text"><li>Nombre: {{object.first_name}}</li></p>
      <p class="card-text"><li>Apellido: {{object.last_name}}</li></p>
      <p class="card-text"><li>Correo electronico: {{object.email}}</li></p>
      <p class="card-text"><li>Nombre de Usuario: {{object.username}}</li></p>
      <a href="{% url 'editar_perfil' user.id %}">Editar Perfil</a>

    </div>
  </div>

{% endblock %}